* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.box {
    width: 80%;
    margin: 0 auto;
}
.logo{
    min-height: 150px;
    background-color: tomato;;
}
.nen{
    float: left;;
    height: 150px;
    
}
.tim{
    float: right;
    padding-top: 45px;

}
li>a{
    text-decoration: none;
    font-variant: small-caps;
    color: white;
    

}
.menu{
    min-height: 40px;
    background-color: #ccc;
    width: 100%;
    
}
.menu ul li{
    text-align: center;
    list-style: none; 
    float:left;
    line-height: 40px;
    margin: 0px 60px;
}
ul{
    
    
}
.btnsearch{
    margin-right: 10px;
}


.prod{
    width: 70%;
    min-height: 500px;
    background-color: greenyellow;
    float: left;
}

.smenu{
    width: 30%;
    float: left;
    min-height: 500px;
    background-color:  brown;   
}

.end{
    min-height: 200px;
    background-color: grey;
    float: left;
}

.row{
    width: 100%;
}